<%- include('navbar') %>

<!-- Start thank you page area -->
<div class="thankyou__page--area">
    <div class="container">
        <div class="thankyou__page--inner d-flex flex-column align-items-center">
            <div class="main thankyou__main">
                <header class="main__header thankyou__main--header mb-30">
                    <h2 class="main__logo--title h3">Thank You for Your Order! <i class="fas fa-check-circle text-success"></i></h2>
                    <p class="mb-0">Your order has been placed successfully.</p>
                </header>
                <main class="main__content_wrapper text-center">
                    <p>We appreciate your business and hope you enjoy your purchase.</p>
                    <a class="btn btn-primary mt-3" href="/orders">Your orders<i class="fas fa-shopping-cart"></i></a>
                </main>
            </div>
        </div>
    </div>
</div>
<!-- End thank you page area -->

<%- include('footer') %>
