<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Fashion Factory</title>
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/public/userasset/img/favicon.ico">


    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="/public/userasset/css/plugins/swiper-bundle.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-----------Box icons plugins----------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" href="/public/userasset/css/plugins/glightbox.min.css">

    <link el="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap">

    <!-- Plugin css -->
    <link rel="stylesheet" href="/public/userasset/css/vendor/bootstrap.min.css">

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="/public/userasset/css/style.css">


    <!----------Magic Zoom link---------->
    <link rel="stylesheet" href="/public/userasset/css/magiczoom.css" type="text/css">

    <!---------FontAwesome link-------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-<YOUR_SHA_INTEGRITY>" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!------sweetalert css------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


</head>

<body>
    <style>
        .header__account--items {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 15px;
        }

        .header__account--btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        .icon-wrapper {
            position: relative;
            display: inline-block;
        }

        .icon-wrapper svg {
            width: 24px;
            height: 24px;
        }

        .items__count {
            position: absolute;
            top: -8px;
            left: -8px;
            background-color: red;
            color: #fff;
            font-size: 10px;
            padding: 2px 6px;
            border-radius: 50%;
            min-width: 18px;
            text-align: center;
        }

        .header__account--btn__text {
            margin-top: 5px;
            font-size: 12px;
            text-align: center;
        }

        .main__header--inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header__menu {
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }

        .header__menu--navigation ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .header__menu--items {
            margin: 0 15px;
        }


        .auth-buttons {
            display: flex;
            gap: 10px;
        }

        .btn-auth {
            background-color: #343a40;
            color: #ffffff;
            border: none;
            border-radius: 20px;
            padding: 8px 16px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-auth:hover {
            background-color: #23272b;
        }

        .header__bottom .header__menu {
            justify-content: flex-start;
        }

        .header__bottom .header__menu--navigation ul {
            justify-content: flex-start;
        }

        .header__bottom .header__menu--items,
        .header__sticky--block .header__menu--items {
            margin: 0 15px;
        }

        .header__sticky--block .header__menu {
            justify-content: center;
        }

        .header__sticky--block .header__menu--navigation ul {
            justify-content: center;
            padding-left: 0;
        }

        .header__menu--items,
        .header__menu--items.style2 {
            position: relative;
            transition: color 0.3s ease;
        }

        .header__menu--items::after,
        .header__menu--items.style2::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -5px;
            left: 50%;
            background-color: #000;
            transition: all 0.3s ease;
        }

        .header__menu--items:hover::after,
        .header__menu--items.style2:hover::after {
            width: 100%;
            left: 0;
        }

        .header__menu--link {
            transition: color 0.3s ease;
        }

        .header__menu--items:hover .header__menu--link,
        .header__menu--items.style2:hover .header__menu--link {
            color: #000;

        }


        .header__sticky--block .header__menu--items::after,
        .header__bottom .header__menu--items::after {
            bottom: -2px;
        }
    </style>

    <!-- Start preloader -->
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>

                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>

                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>

                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>

                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>

                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>

                    <span data-text-preloader="G" class="letters-loading">
                        G
                    </span>
                </div>
            </div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>
    <!-- End preloader -->


    <!-- Start header area -->
    <header class="header__section">
        <div class="main__header header__sticky">
            <div class="container-fluid">
                <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
                    <div class="offcanvas__header--menu__open ">
                        <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg"
                                viewBox="0 0 512 512">
                                <path fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352" />
                            </svg>
                            <span class="visually-hidden">Menu Open</span>
                        </a>
                    </div>
                    <div class="main__logo">
                        <h1 class="main__logo--title"><a class="main__logo--link" href="/"><img class="main__logo--img"
                                    src="/public/userasset/img/logo/newlogo-removebg-preview.png" alt="logo-img"></a></h1>
                    </div>

                    <div class="header__search--widget header__sticky--none d-none d-lg-block">
                        <form id="searchForm" class="d-flex header__search--form" action="/search" method="post">
                            <div class="header__search--box">
                                <input class="header__search--input" id="searchInput" placeholder="Search here..."
                                    type="text" aria-label="Search" name="words">
                                    <input type="hidden" id="selectedCategory" name="category" value="">
                                <button class="header__search--button bg__secondary text-white" type="submit"
                                    aria-label="search button">
                                    <svg class="header__search--button__svg" xmlns="http://www.w3.org/2000/svg"
                                        width="27.51" height="26.443" viewBox="0 0 512 512">
                                        <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                            fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32">
                                        </path>
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="header__account header__sticky--none">
                        <ul class="d-flex">
                            <% if (!locals.session.isAuth) { %>
                                <div class="auth-buttons">
                                    <% if (typeof currentPage==='undefined' || currentPage !=='login' ) { %>
                                        <a href="/login" class="btn-auth">Login</a>
                                        <% } %>
                                            <% if (typeof currentPage==='undefined' || currentPage !=='signUp' ) { %>
                                                <a href="/signup" class="btn-auth">Signup</a>
                                                <% } %>
                                </div>
                                <% }else {%>
                                    <li class="header__account--items">
                                        <a class="header__account--btn" href="/profile">
                                            <div class="icon-wrapper">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z"
                                                        fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="32" />
                                                    <path
                                                        d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z"
                                                        fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                        stroke-width="32" />
                                                </svg>
                                            </div>
                                            <span class="header__account--btn__text">Profile</span>
                                        </a>
                                    </li>

                                    <li class="header__account--items d-none d-lg-block">
                                        <a class="header__account--btn" href="/wishlist">
                                            <div class="icon-wrapper">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28.51" height="23.443"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
                                                        fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="32"></path>
                                                </svg>
                                                <span class="items__count wishlist">
                                                    <%= locals.session.wishlistCount || 0 %>
                                                </span>
                                            </div>
                                            <span class="header__account--btn__text"> Wish List</span>
                                        </a>
                                    </li>


                                    <li class="header__account--items">
                                        <a class="header__account--btn minicart__open--btn" href="/cart" data-offcanvas>
                                            <div class="icon-wrapper">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443"
                                                    viewBox="0 0 14.706 13.534">
                                                    <g transform="translate(0 0)">
                                                        <g>
                                                            <path data-name="Path 16787"
                                                                d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z"
                                                                transform="translate(0 -463.248)" fill="currentColor" />
                                                            <path data-name="Path 16788"
                                                                d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z"
                                                                transform="translate(-1.191 -466.622)"
                                                                fill="currentColor" />
                                                            <path data-name="Path 16789"
                                                                d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z"
                                                                transform="translate(-2.875 -466.622)"
                                                                fill="currentColor" />
                                                        </g>
                                                    </g>
                                                </svg>
                                                <span class="items__count">
                                                    <%= locals.session.cartCount || 0 %>
                                                </span>
                                            </div>
                                            <span class="header__account--btn__text"> My cart</span>
                                        </a>
                                    </li>
                                    <% } %>
                        </ul>
                    </div>

                    <div class="header__menu d-none header__sticky--block d-lg-block">
                        <nav class="header__menu--navigation">
                            <ul class="d-flex">
                                <li class="header__menu--items style2">
                                    <a class="header__menu--link" href="/">Home</a>
                                </li>
                                <li class="header__menu--items style2">
                                    <a class="header__menu--link" href="/shop">Shop</a>
                                </li>
                                <li class="header__menu--items style2">
                                    <a class="header__menu--link" href="/about">About US</a>
                                </li>

                                <li class="header__menu--items style2">
                                    <a class="header__menu--link " href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__account header__account2 header__sticky--block">
                        <ul class="d-flex">
                            <% if (!locals.session.isAuth) { %>
                                <div class="auth-buttons">
                                    <% if (typeof currentPage==='undefined' || currentPage !=='login' ) { %>
                                        <a href="/login" class="btn-auth">Login</a>
                                        <% } %>
                                            <% if (typeof currentPage==='undefined' || currentPage !=='signUp' ) { %>
                                                <a href="/signup" class="btn-auth">Signup</a>
                                                <% } %>
                                </div>
                                <% }else {%>
                                    <li
                                        class="header__account--items header__account2--items  header__account--search__items d-none d-lg-block">
                                        <a class="header__account--btn search__open--btn" href="javascript:void(0)"
                                            data-offcanvas>
                                            <svg class="header__search--button__svg" xmlns="http://www.w3.org/2000/svg"
                                                width="26.51" height="23.443" viewBox="0 0 512 512">
                                                <path
                                                    d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                                    fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                    stroke-width="32" />
                                                <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10" stroke-width="32"
                                                    d="M338.29 338.29L448 448" />
                                            </svg>
                                            <span class="visually-hidden">Search</span>
                                        </a>
                                    </li>
                                    <li class="header__account--items header__account2--items">
                                        <a class="header__account--btn" href="/profile">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443"
                                                viewBox="0 0 512 512">
                                                <path
                                                    d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z"
                                                    fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="32" />
                                                <path
                                                    d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z"
                                                    fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                    stroke-width="32" />
                                            </svg>
                                            <span class="visually-hidden">My Account</span>
                                        </a>
                                    </li>
                                    <li class="header__account--items header__account2--items d-none d-lg-block">
                                        <a class="header__account--btn" href="/wishlist">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28.51" height="23.443"
                                                viewBox="0 0 512 512">
                                                <path
                                                    d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
                                                    fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="32"></path>
                                            </svg>
                                            <span class="items__count wishlist" data-wishlist-count>
                                                <%= locals.session.wishlistCount || 0 %>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="header__account--items header__account2--items">
                                        <a class="header__account--btn minicart__open--btn" href="/cart" data-offcanvas>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443"
                                                viewBox="0 0 14.706 13.534">
                                                <g transform="translate(0 0)">
                                                    <g>
                                                        <path data-name="Path 16787"
                                                            d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z"
                                                            transform="translate(0 -463.248)" fill="currentColor" />
                                                        <path data-name="Path 16788"
                                                            d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z"
                                                            transform="translate(-1.191 -466.622)"
                                                            fill="currentColor" />
                                                        <path data-name="Path 16789"
                                                            d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z"
                                                            transform="translate(-2.875 -466.622)"
                                                            fill="currentColor" />
                                                    </g>
                                                </g>
                                            </svg>
                                            <span class="items__count" data-cart-count>
                                                <%= locals.session.cartCount || 0 %>
                                            </span>
                                        </a>
                                    </li>
                                    <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container-fluid">
                <div
                    class="header__bottom--inner position__relative d-none d-lg-flex justify-content-between align-items-center">
                    <div class="header__menu">
                        <nav class="header__menu--navigation">
                            <ul class="d-flex">
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/">Home</a>
                                </li>
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/shop">Shop </a>
                                </li>
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/about">About Us</a>
                                </li>
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/contact">Contact </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header area -->